
body {
  font-family: 'Poppins', sans-serif;
  background: url('../src/images/img-2.jpg') ;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}


.weather-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 450px;
  text-align: center;
  color: #333;
}

.weather-container h1 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.input {
  padding: 12px 20px;
  font-size: 16px;
  border: 2px solid #007bff;
  border-radius: 30px;
  width: 70%;
  outline: none;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #0056b3;
}

.search-button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 30px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.weather-info {
  background: #f1f1f1;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.weather-info h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.weather-info p {
  font-size: 18px;
  color: #555;
  margin: 5px 0;
}

.weather-info p span {
  font-weight: bold;
}
.error {
  color: #ff4d4d;
  margin-top: 20px;
  font-size: 16px;
}
